.song-card {
  width: 160px;
  height: 206px;
  cursor: pointer;
  &__imagen-container {
    width: 160px;
    height: 160px;
    img {
      width: 100%;
    }
  }
  &__song {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #555555;
  }
  &__artist {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #828282;
  }
}
